*{
margin: 0;
padding: 0;
box-sizing: border-box; 
}

body {
background: #FFFFFF;
width: 100%;
overflow-x: hidden; 
}

header {
display: flex;
flex-direction: row;
justify-content: space-between; 
align-items: center;
padding: 28px 30px;
width: 100%;
background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
header h1 {
width: 105px;
height: 53px;
flex: none;
order: 0;
flex-grow: 0;
}

.links {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
width: 225px;
height: 49px;
flex: none;
order: 1;
flex-grow: 0;
}

.links a{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 16px;
gap: 10px;
width: 75px;
height: 49px;
flex: none;
order: 0;
flex-grow: 0;
}

.about {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 26px;
width: 100%;
height: 318px;
background: #F3F3F3;    
}


.about img{
width: 247px;
height: 247px;

filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
flex: none;
order: 0;
flex-grow: 0;
}

.about_me{
width: 614px;
height: 186px;
flex: none;
order: 1;
flex-grow: 0;
}

.about_me h2{
width: 100%;
margin-bottom: .2em;
}

.about_me p{
width: 100%;
}

.lists{
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
width: 100%;
height: 289px;
background: #F3F3F3;
}

.hobbies {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
width: 100%;
height: 289px;
}
.favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 289px;
}
    
.hobbies h3{
font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: #000000;
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: auto;
    background: #F3F3F3;
}

.cards_hobbies-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 150px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: .2em;
    border-radius: 15px;
}

.cards_favorites-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    width: 45%; 
}

footer {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 32px;
position: relative;
height: 70px;
left: 0px;
right: 0px;
bottom: 0px;
background: #C4C4C4;
}

.social {
width: 188px;
height: 32px;
display: flex;
flex-direction: row;
justify-content:space-between;
order: 0;
flex-grow: 0;

}

a {
    text-decoration: none; 
    color: inherit; 
}
a:visited {
    color: inherit; 
}

.contact {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;
font-weight: bold;
width: 162px;
height: 38px;

background: #DFDFDF;
border-radius: 5px;

flex: none;
order: 1;
flex-grow: 0;


}

@media screen and (max-width: 428px) {
body {
position: relative;
width: 428px;
height: 1724px;
background: #FFFFFF;

}

header {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 28px 30px;
gap: 222px;
position: absolute;
width: 428px;
height: 109px;
left: calc(50% - 428px/2);
top: 1px;
background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
box-sizing: border-box; 
}

header h1 {
width: 105px;
height: 53px;
flex: none;
order: 0;
flex-grow: 0;

}
.links{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;
width: 40px;
height: 28px;
flex: none;
order: 1;
flex-grow: 0;

}

.about{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
gap: 33px;

width: 431px;
height: 584px;
left: 0px;
top: 111px;
background: #F3F3F3;
}

.lists{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;

width: 431px;
height: 890px;
left: 0px;
top: 695px;

}

footer {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 25px;

position: absolute;
height: 127px;
left: 1px;
right: 0px;
bottom: 0px;

background: #C4C4C4;

}

.contact{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 162px;
height: 38px;

background: #DFDFDF;
border-radius: 5px;


flex: none;
order: 0;
flex-grow: 0;

}

.media{


width: 188px;
height: 32px;


flex: none;
order: 1;
flex-grow: 0;

}
.about img {
width: 247px;
height: 247px;
background: url(Leo.jpg);
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
flex: none;
order: 0;
flex-grow: 0;

}

.about_me{
width: 403.5px;
height: 242.5px;
flex: none;
order: 1;
flex-grow: 0;

}
.about_me h2{
width: 62.77px;
height: 47.31px;
left: 13.75px;
top: 310.75px;
}
.about_me p{
width: 403.5px;
height: 174.89px;
left: 13.75px;
top: 378.36px;
}

.hobbies{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 26px;
width: 424px;
height: 425px;
flex: none;
order: 0;
flex-grow: 0;

}

.hobbies h2{

width: 98px;
height: 33px;
flex: none;
order: 0;
flex-grow: 0;

}

.cards_hobbies-cards{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 10px;
width: 384px;
height: 150px;
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.card {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;
margin: 0 auto;
width: 104px;
height: 150px;
background: #DFDFDF;
border-radius: 5px;
flex: none;
order: 0;
flex-grow: 0;

}

.favorites{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;
gap: 26px;
width: 429px;
height: 425px;
flex: none;
order: 1;
flex-grow: 0;

}

.favorites h2{

width: 98px;
height: 33px;
flex: none;
order: 0;
flex-grow: 0;

}

.cards_favorites-cards{

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 389px;
height: 150px;

filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
flex: none;
order: 1;
flex-grow: 0;

}
}

